@{
    ViewData["Title"] = "Reserve Your Seats";
}
<h1>@ViewData["Title"]</h1>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<p>Use this page to Book.</p>
